/*"""@import url("path/to/your/other.css");

"path/to/your/other.css";"""*/
/*@import "pages/container.css";
@import "components/button.css"*/

/* global.css */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007bff;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select,
button {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box; /* Prevent padding from increasing element width */
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#displayText {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}


audio {
            margin-top: 20px;
}